.projects {
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    /* border: 1px solid red; */
}

.projects-container {
    /* max-width: 1200px; */
    width: 100%;
}

.projects-container h2 {
    color: white;
    padding: 10px 0px;
    padding-bottom: 15px;
    font-size: 1.7rem;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin-bottom: 25px;
    /* border: 1px solid #333; */
    border-radius: 15px;
}

.project-info {
    flex: 1;
}

.project-info h3 {
    color: white;
    margin-bottom: 15px;
}

.project-info p {
    color: #aaa;
    line-height: 1.6;
}

.project-technologies {
    margin-top: 20px;
    margin-bottom: 25px;
}

.project-technologies p {
    color: #aaa;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.project-technologies span {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 6px 12px;

    border: 1px solid #3b82f6;
    border-radius: 8px;

    background-color: #bfdbfe;
    color: #2563eb;

    font-size: 0.9rem;
    font-weight: bold;

    transition: 0.2s ease;
}

.project-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
}

.project-buttons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 120px;
    min-height: 44px;
    padding: 10px 20px;

    background-color: #4f8cff;
    border: 1px solid #4f8cff;
    border-radius: 8px;

    color: white;
    text-decoration: none;
    font-weight: 500;

    transition:
        transform 0.2s ease,
        background-color 0.2s ease,
        box-shadow 0.2s ease;
}

.project-buttons a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.demo-icon {
    display: block;
    font-size: 20px;
}

.github-icon {
    display: block;
    font-size: 20px;
}

@media (hover: hover) {
    .project-buttons a:hover {
        background-color: #3b78e7;
        transform: translateY(-3px);
        box-shadow: 0 6px 15px rgba(79, 140, 255, 0.25);
    }
}

.project-buttons a:active {
    transform: translateY(-1px);
}

.project-image {
    width: clamp(270px, 75vw, 350px);
    height: clamp(270px, 75vw, 350px);
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #6ca2ff;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;

    border: 2px solid #6ca2ff;

    transform: scale(1.03);
    transition: transform 0.3s ease;
}

@media (hover: hover) {
    .project-image:hover img {
        transform: scale(1);
    }
}

/* Tablet */
@media (min-width: 768px) {
    .project-image {
        width: 350px;
        height: 350px;
    }

    .projects {
        justify-content: center;
    }

    .projects-container {
        width: 80%;
    }

    .projects-container h2 {
        font-size: 1.8rem;
    }

    .project {
        padding: 10px;
        
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .projects-container h2 {
        font-size: 1.9rem;
    }

    .project {
        margin-bottom: 30px;
    }

    .project-image {
        width: 400px;
        height: 400px;
    }
}

/* Pantallas grandes */
@media (min-width: 1200px) {
    .projects-container {
        width: 60%
    }

    .projects-container h2 {
        font-size: 2rem;
    }
}

/* Pantallas grandes 2 */
@media (min-width: 1600px) {
    .projects-container {
        width: 50%
    }
}