.about {
    justify-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    padding: 25px 15px;
}

.about-container h2{
    font-size: 1.7rem;
    color: black;
}

.about-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8px;
}

.about-container-2 {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    align-self: center;

    gap: 10px;
    color: black;
}

.about-message {
    padding: 10px;
}

.profile-image-content {
    justify-items: center;
    align-content: center;
    padding-bottom: 20px;
    width: 30%;
    min-height: 300px;
}

.profile-image{
    width:300px;
    height:300px;
    border-radius:50%;
    overflow:hidden;
    border: 1px solid red;
}

.profile-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.techs {
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: center;
    width: 100%;
    gap: 30px;
    text-align: center;
}

.techs-frontend {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 30px 15px 30px;
    min-width: 260px;
}

.techs-frontend p {
    margin-bottom: 25px;
}

.techs-backend {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 30px 15px 30px;
    min-width: 260px;
}

.techs-backend p {
    margin-bottom: 25px;
}

.techs-other {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 30px 15px 30px;
    min-width: 260px;
}

.techs-other p {
    margin-bottom: 25px;
}

.techs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.tech img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.tech span {
  font-size: 0.9rem;
}

/* Tablet */
@media (min-width: 768px) {
    .about-container {
        width: 80%;
    }

    .about-container h2{
        font-size: 1.8rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .about-container {
        width: 80%;
    }

    .about-container-2 {
        width: 95%;
        gap: 40px;
        flex-wrap: nowrap;
    }

    .about-container h2{
        font-size: 1.9rem;
    }

    .techs {
        /* width: 50%; */
    }
}

/* Pantallas grandes */
@media (min-width: 1200px) {
    .about-container {
        width: 60%;
        margin-bottom: 15px;
    }

    .about-container-2 {
        width: 95%;
    }

    .about-container h2{
        font-size: 2rem;
    }
}

/* Pantallas grandes 2 */
@media (min-width: 1600px) {
    .about-container {
        width: 50%
    }

    .about-container-2 {
        width: 100%;
    }
}